*{
	margin:0;
	padding:0;
    font-family: Lato;
	
}
/*header-part*/
.header-part{
	background-color: rgba(229, 84, 115, 0.10);
	padding: 0px 150px 0px 150px;
	display: flex;
	align-items: center;
	
}
.beautiful-caption h1{
	font-weight: 800;
	font-size: 50px;
	padding-bottom: 30px;
	width: 400px;
}
.beautiful-caption p{
	width: 520px;
	padding-bottom: 30px;
	text-align: left;
	
}
.beautiful-caption button{
	padding: 10px 25px;
	background-color: #E55473;
	color: white;
	border-color: #E55473;
	border-radius: 5px;
	border-width: 0px;
	font-size: 15px;
	
}
.beautiful-flower{
	padding-top: 70px;
	padding-left: 50px;
	
}
.beautiful-flower img{
	width: 500px;
	height: 500px;
	display: block;
}
/*feature*/
.feature{
	padding: 100px 150px 100px 150px;
}
.feature-title{
	text-align: center;
	padding-bottom: 40px;
}
.feature-para p{
	width: 480px;
	padding-left: 300px;
	
}

.feature-image{
	display: flex;
	
}
.feature-image p{
	text-align: center;
}
.feature-image .image1{
	background-color: rgba(167, 33, 98, 0.15);;
	padding: 80px 15px 0px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.feature-image .image2{
	background-color: rgba(5, 151, 160, 0.15);
	margin-left: 20px;
	padding: 80px 15px 0px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.feature-image .image3{
	background-color: rgba(71, 125, 17, 0.15);
	margin-left: 20px;
	padding: 80px 15px 0px;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}
.feature-image  img{
	width: 300px;
	height: 300px;
	display: block;
}
.feature-image .title{
	font-weight: 800;
	font-size: 25px;
	text-decoration: underline;
	
}

/*delivery-part*/
.delivery-part{
	display: flex;
	justify-content: center;
	padding: 20px 0px;
	margin-top: 30px;
	background-color: rgba(229, 84, 115, 0.05);
}

.delivery-image{
	padding: 40px 50px;
}
/*hot-sale-part*/
.hot-sale{
	background-color: rgba(229, 84, 115, 0.10);
	padding: 0px 250px 0px 250px;
	display: flex;
	align-items: center;
}
.hot-sale-caption {
	text-align: center;
}
.hot-sale-caption h1{
	font-weight: 800;
	font-size: 35px;
	padding-bottom: 10px;
	text-align: center;
}
.hot-sale-caption span{
	color: #E55473;
}
.hot-sale-caption p{
	width: 520px;
	padding-bottom: 30px;
	
	
}
.hot-sale-caption button{
	padding: 10px 25px;
	background-color: #E55473;
	color: white;
	border-color: #E55473;
	border-radius: 5px;
	border-width: 0px;
	font-size: 15px;
	
}
.hot-sale-image{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 100px;
	
}
.hot-sale-image img{
	width: 300px;
	height: 300px;
}

/*instagram*/
.Instagram{
	padding: 50px 150px 50px 150px;
	background-color: white;

}
.Instagram h1{
    font-weight: 800;
	font-size: 40px;

}
.Instagram h1,p{
  text-align: center;
  padding-top: 20px;
}
.Instagram p{
	width: 490px;
	padding-left: 300px;
  }
.Instagram-image{
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.Instagram-image img{
	width: 260px;
	height: 300px;
	margin-left: 15px;
}
/*latest-part*/
.latest-deal{
	text-align: center;
	padding: 40px 125px 70px 140px;
}
.latext-caption{
	background:url(../images/Rectangle\ 9.png);
	background-repeat: no-repeat;
    background-size: cover;
	padding: 80px 0px;
	
}
.latext-caption h1{
	font-size: 40px;
}
.latext-caption p{
	padding-bottom: 30px;
}
.latest-deal input{	
	padding: 10px;
	font-size: 17px;
	border: 1px solid #FFF;
	width: 45%;
	background: #FFF;
}

.latest-deal button{
	padding: 14px 30px 13px 30px;
	background-color: #E55473;
	color: white;
	border-color: #E55473;
	border-radius: 5px;
	border-width: 0px;
	font-size: 15px;
	
}
/*team*/
.team-part{
	padding: 30px 150px 50px 150px;
	background-color: rgba(71, 125, 17, 0.15);
	
}
.team-part .title{
	font-weight: 800;
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}
.team{
	display: flex;
	justify-content: center;
}
.team-member2{
	margin-left: 30px;
	
}

.team-member3{
	margin-left: 30px;
}
/*contact-part*/
.contact-part{
	padding: 40px 150px 70px 150px;
	text-align: center;
	background-color: #353b48;
	color: #FFF;
}
.contact-title{
	padding-top: 30px;
	padding-bottom: 30px;
}
.contact-part input, textarea {
	width: 60%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  .contact-button{
	padding: 14px 30px 13px 30px;
	background-color: #E55473;
	color: white;
	border-color: #E55473;
	border-radius: 5px;
	border-width: 0px;
	font-size: 15px;
  }
/*footer-part*/
.footer-part{
	padding: 40px 150px 70px 150px;
	text-align: center;
	background-color: black;
	color: #FFF;
}
.footer-part span{
	color:#E55473;
}
.footer-part p{

	width: 490px;
	padding-left: 300px;
	
}